body{
  
    background: url("../images/dashboard2.jpg");
    
    /* Full height */
    height: 100%; 
        
    /* Center and scale the image nicely for full length and width bg image even for responsive*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
  }
  .container
{
  backdrop-filter: blur(5px);
}
  .navbar-brand{
    margin-top:-33%;
  }
  .h1_b{
    color:white;
  
  font-size: 4.5rem;
  font-weight: 800;
  margin-left: 30%;
  }
  .ejsbut{
    margin-top: 5%;
    margin-left: 35%;
    
  }
  .white{
    color:white;
  }
  #myDIV{
    display: none;
    color:white;
    font-weight: 1000;
    font-size: large;
    margin-left: -7%;
    margin-top: 4%;
  }
  #myDIV1{
    display: none;
    
  }
  input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
  }
  .striked{
    text-decoration: line-through;
    
  }
.up{
  
  margin-left: 30%;
}
.head{
  margin-top: 5%;
}