h1,h2{
  text-align: center;
}
.content{
  padding-top: 15%;
  
}
body{
  
  background: url("../images/home.jpg");
  /* Full height */
  height: 100%; 
      
  /* Center and scale the image nicely for full length and width bg image even for responsive*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(10px);

}
.h1_h{
  color:white;
  font-style:inherit;
  font-size: 5.5rem;
  font-weight: 1000;
  margin-left: 15%;
  
}
.navbar-brand{
  margin-top:-33%;
}


.ejsbut{
  margin-top: 5%;
  margin-left: 45%;
}
#myDIV{
  display: none;
}
#myDIV1{
  display: none;
}
input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
}
.striked{
  text-decoration: line-through;
}