body{
  background: url("../images/landing2.jpg");
  /* Full height */
  height: 100%; 
      
  /* Center and scale the image nicely for full length and width bg image even for responsive*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}
h1{
  padding-top: 10%;
  margin-left: 13%;
  text-align: center;
  color:black;
  font-style:inherit;
  font-size: 3rem;
  font-weight: 800;
}
.one{
  margin-top: 10%;
  margin-left: 45%;
 

}
.two{
  margin-top: 5%;
  margin-left: 45%;

}
